@using EntityLayer.Concrete
@model List<Heading>

@{ ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_BlogLayout.cshtml"; }

<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            @foreach (var item in Model)
            {

                if (item.HeadingID == 23)
                {
                    <div class="first-slot">
                        <div class="masonry-box post-media">
                            <img src="@item.ImageUrl" style="width:788px; height:370px;" alt="" class="img-fluid">
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="~/BlogTECH/tech-category-01.html" title="">@item.Category.CategoryName</a></span>
                                        <h4><a href="/Home/BlogDetails/@item.HeadingID" title="">@item.HeadingName</a></h4>
                                        <small><a href="~/BlogTECH/tech-single.html" title="">@item.HeadingDate.ToShortDateString()</a></small>
                                        <small><a href="~/BlogTECH/tech-author.html" title="">@item.Writer.WriterName</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end first-side -->
                }

                if (item.HeadingID == 24)
                {
                    <div class="second-slot">
                        <div class="masonry-box post-media">
                            <img src="@item.ImageUrl" style="width:788px; height:370px;" alt="" class="img-fluid">
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="~/BlogTECH/tech-category-01.html" title="">@item.Category.CategoryName</a></span>
                                        <h4><a href="~/BlogTECH/tech-single.html" title="">@item.HeadingName</a></h4>
                                        <small><a href="~/BlogTECH/tech-single.html" title="">@item.HeadingDate.ToShortDateString()</a></small>
                                        <small><a href="~/BlogTECH/tech-author.html" title="">@item.Writer.WriterName</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->
                }

                if (item.HeadingID == 25)
                {
                    <div class="last-slot">
                        <div class="masonry-box post-media">
                            <img src="@item.ImageUrl" style="width:788px; height:370px;" alt="" class="img-fluid">
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="~/BlogTECH/tech-category-01.html" title="">@item.Category.CategoryName</a></span>
                                        <h4><a href="~/BlogTECH/tech-single.html" title="">@item.HeadingName</a></h4>
                                        <small><a href="~/BlogTECH/tech-single.html" title="">@item.HeadingDate.ToShortDateString()</a></small>
                                        <small><a href="~/BlogTECH/tech-author.html" title="">@item.Writer.WriterName</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->
                }


            }
        </div><!-- end masonry -->
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Son Haberler <a href="~/BlogTECH/#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/d.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">En iyi 10 telefon uygulaması ve 2017 mobil tasarım ödülleri</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Araçlar</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">21 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/e.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Hem kulaklık hem de usb kullanabileceğiniz bir cihaz</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Teknoloji</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">21 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/f.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">ABC bilgisayardan iki yeni dizüstü bilgisayar modeli</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Geliştirme</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">20 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 2313</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="~/BlogTECH/upload/banner_02.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/g.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Cep telefonlarınızda doğanın fotoğraflarını çekmek için uygulamalar</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Tasarım</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">19 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 4441</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/h.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Akıllı saatlerde renkli kayış modellerine merhaba deyin</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Malzeme</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">18 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 33312</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/ı.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Eski cep telefonlarınızı farklı şekillerde değerlendirmeye ne dersin?</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Araçlar</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">17 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 4440</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/i.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Bilgisayarda kahve içmek ruhu dindiriyor</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Teknoloji</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">16 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/j.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Cep telefonunuz için yeni bir kasa satın almayı düşünüyorsanız, bu makaleyi okuduğunuzdan emin olun</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Değerlendirme</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">15 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 44123</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/k.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Renkli bir kulaklıkla yazın tadını çıkarın</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Teknoloji</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">14 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 2214</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/l.jpg" style="width:600px;height:215px;" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/BlogTECH/tech-single.html" title="">Google yepyeni bir algoritma geliştirdi. Tüm bilginizi unutun!</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="~/BlogTECH/tech-category-01.html" title="">Araçlar</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title="">13 Temmuz, 2021</a></small>
                                <small><a href="~/BlogTECH/tech-author.html" title="">Matilda Tarafından</a></small>
                                <small><a href="~/BlogTECH/tech-single.html" title=""><i class="fa fa-eye"></i> 3331</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="~/BlogTECH/#">1</a></li>
                                <li class="page-item"><a class="page-link" href="~/BlogTECH/#">2</a></li>
                                <li class="page-item"><a class="page-link" href="~/BlogTECH/#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="~/BlogTECH/#">Sonraki</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="~/BlogTECH/upload/banner_07.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Trend Videolar</h2>
                        <div class="trend-videos">
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/tech_video_01.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span class="videohover"></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="~/BlogTECH/tech-single.html" title="">Sizin için en iyi 10 dizüstü bilgisayar sunumlarını hazırladık</a></h4>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">

                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/tech_video_02.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span class="videohover"></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="~/BlogTECH/tech-single.html" title="">ABC Design Studio - Vlog'un konuğuyuz</a></h4>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">

                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="~/BlogTECH/tech-single.html" title="">
                                        <img src="~/BlogTECH/upload/tech_video_03.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span class="videohover"></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="~/BlogTECH/tech-single.html" title="">Hem kan basıncı monitörü hem de akıllı saat</a></h4>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->
                        </div><!-- end videos -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Popüler Mesajlar</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                <a href="~/BlogTECH/tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="~/BlogTECH/upload/tech_blog_08.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">İhtiyacınız olan 5 güzel binalar</h5>
                                        <small>12 Ocak, 2021</small>
                                    </div>
                                </a>

                                <a href="~/BlogTECH/tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="~/BlogTECH/upload/tech_blog_01.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Bir giriş yapalım</h5>
                                        <small>11 Ocak, 2021</small>
                                    </div>
                                </a>

                                <a href="~/BlogTECH/tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 last-item justify-content-between">
                                        <img src="~/BlogTECH/upload/tech_blog_03.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">En güzelini gördün mü?</h5>
                                        <small>07 Ocak, 2021</small>
                                    </div>
                                </a>
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Son Yorumlar</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                <a href="~/BlogTECH/tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="~/BlogTECH/upload/tech_blog_02.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Muzlu çikolatalı kek tarifi</h5>
                                        <span class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </a>

                                <a href="~/BlogTECH/tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="~/BlogTECH/upload/tech_blog_03.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Organik seçmenin 10 pratik yolu</h5>
                                        <span class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </a>

                                <a href="~/BlogTECH/tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 last-item justify-content-between">
                                        <img src="~/BlogTECH/upload/tech_blog_07.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Ev yapımı mantı yapıyoruz</h5>
                                        <span class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Bizi Takip Edin</h2>

                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="~/BlogTECH/#" class="social-button facebook-button">
                                    <i class="fa fa-facebook"></i>
                                    <p>27k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="~/BlogTECH/#" class="social-button twitter-button">
                                    <i class="fa fa-twitter"></i>
                                    <p>98k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="~/BlogTECH/#" class="social-button google-button">
                                    <i class="fa fa-google-plus"></i>
                                    <p>17k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="~/BlogTECH/#" class="social-button youtube-button">
                                    <i class="fa fa-youtube"></i>
                                    <p>22k</p>
                                </a>
                            </div>
                        </div>
                    </div><!-- end widget -->

                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="~/BlogTECH/upload/banner_03.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>