@model EntityLayer.Concrete.Talent
@{
    ViewBag.Title = "EditTalent";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/AdminLT/assets/bundles/lib.vendor.bundle.js"></script>
<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<br />
<h2>Yetenek Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditTalent", "AdminTalent", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)
        <br />
        @Html.Label("Yetenek")
        @Html.TextAreaFor(x => x.TalentDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TalentDescription)
        <br />
        @Html.Label("Yüzde")
        @Html.TextBoxFor(x => x.Percent, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Percent)
        <br />
        @Html.Label("Yüzde Değeri max 250")
        @Html.TextBoxFor(x => x.PercentValue, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PercentValue)
        <br />
        @Html.Label("Yazar")
        @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterID)
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}



