@model EntityLayer.Concrete.Video

<!-- summernote -->
<link rel="stylesheet" href="~/AdminLTE/plugins/summernote/summernote-bs4.css">

<script src="~/AdminLTE/plugins/summernote/summernote.min.js"></script>
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

@using (Html.BeginForm("NewVideo", "VideoWriter", "Writer", FormMethod.Post))
{
    <div class="card">
        <div class="card-body">

            @*@Html.HiddenFor(x => x.WriterID, new { @class = "form-control" })*@

            @Html.Label("Başlık")
            @Html.TextBoxFor(x => x.VideoTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.VideoTitle)

            @Html.Label("Resim")
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ImageUrl)

            @*<div class="form-group">
                    <label class="form-label">Kategori</label>
                    <select id="cars" name="CategoryID">
                        <option value="">Volvo</option>
                    </select>
                </div>*@
            @Html.Label("Kategori")
            @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
            <br />

            <label class="form-label">İçerik</label>
            @*<div class="summernote" name="MessageContent">

                </div>*@

            <div class="form-group">
                <textarea id="compose-textarea" name="VideoDescription" class="form-control">
                </textarea>
            </div>

            <div class="mt-4 text-right">
                <button class="btn btn-warning"><i class="icon-link"></i></button>
                <button class="btn btn-warning"><i class="icon-camera"></i></button>
                <button type="submit" class="btn btn-primary">Yayınla</button>
            </div>
        </div>
    </div>
}


<!-- /.content -->
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/AdminLTE/dist/js/demo.js"></script>

<!-- Summernote -->
<script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
<!-- Page Script -->
<script>
    $(function () {
        //Add text editor
        $('#compose-textarea').summernote()
    })</script>
