@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "SubCategoryAdd";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<h1>Alt Kategori Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("SubCategoryAdd", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br />
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.CategoryDesctription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDesctription)
        <br />
        @Html.Label("Ana Kategori")
        @Html.DropDownList("ParentID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
        <br />
        <button class="btn btn-primary" id="btn1">Alt Kategori Ekle</button>
    </div>
}

