@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>


<h2>Başlık Güncelleme Sayfası</h2>


@using (Html.BeginForm("EditHeading", "WriterPanel","Writer", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.HeadingID)
        @Html.HiddenFor(x => x.HeadingDate)
        @Html.HiddenFor(x => x.WriterID)

        @Html.Label("Başlık ismi")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />

        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <button class="btn btn-success" id="btn3">Güncelle</button>
    </div>}


<script>
    $('#btn3').click(function () {
        swal("Başarılı!", "Başlık başarılı bir şekilde Güncellendi.", "success");
    });
</script>

